body {
  background-color: #D5A793;
  font-family: 'Tapestry', cursive;
  color: #3C3C3C;
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  text-align: center;
}

h1 {
  font-family: 'Macondo', cursive;
  color: #784E28;
  font-size: 35px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Macondo', cursive;;
  color: #784E28;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

a:hover {
  color: #1E1E1E;
  text-decoration: wavy;
  text-align: center;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

.img-circle {
  border-radius: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.card1 {
  background: white;
  padding: 30px;
  border: 10px;
  border-color: #784E28;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
  text-align: center;
  margin: 20px 0px;
}

.card2 {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
  text-align: center;
  margin: 20px 0px;
}

.container {
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.btn-brown {
  font-family: 'Tapestry', cursive;
  background-color: #784E28;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
